.contactForm{
  display:flex;
  flex-direction: column;
  /* border: 2px solid red; */
  width: 90%;
  padding: 2rem;
  gap: 1rem;
  max-width: 800px;

  input {
    padding: 1rem 2rem ;
    font-size: large;
    border-radius: 10px;
  }
  textarea {
    padding: 1rem 2rem ;
    font-size: large;
    border-radius: 10px;
    
  }

  button {
    padding: 1rem 2rem;
    font-size: large;
    width: 10rem;
    border-radius: 10px;
    background-color: rgb(152, 239, 22);
    
  }
}